@import '../../assets/styles/variables.scss';

.home {
    background: white;

    width: 100%;
    max-width: 50vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: auto;

    border: 5px solid $bright;
    border-radius: 2rem;

    padding: 2rem;
    box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 1);

    &__title {
        font-weight: 900;
        font-size: 2rem;
    }

    &__form {
        margin-top: 1rem;
    }

    &__result {
        margin-top: 1rem;
    }

    &--dark {
        border: 5px solid $blue;
    }
}
