@import '../../assets/styles/variables.scss';

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 1.2rem;
    font-weight: 700;

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    &__item {
        span {
            color: $bright;
        }
    }
}
